[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
web3 = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
python-dotenv = "*"
django-environ = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.12"
